* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.def text eol=lf
CMakeLists.txt text eol=lf
